/ {
    zephyr,user {
        io-channels = <&adc1 10>;
    };

    aliases {
        pwm-fan1 = &fan_pwm1;
        pwm-fan2 = &fan_pwm2;
        pwm-door = &pwm_door;
        pwm-wick = &pwm_wick;
        heating-output = &heating_output;
        testing-output = &testing_output;
        limit-sw = &limit_switch_gpio;
        start-btn = &start_button_gpio;
        thru-beam = &gpio_thru_beam;
        status-led = &gpio_status_led;
        gpio-tach1 = &gpio_tach1;
        gpio-tach2 = &gpio_tach2;
    };

    gpio_output: gpio_output {
        compatible = "gpio-leds";
        status = "disabled";

        heating_output: heat_control {
            gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
            label = "Heating Control Pin";
        };

        testing_output: testing_control {
            gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
            label = "Testing Flash Pin";
        };

        gpio_status_led: status_led {
            gpios = <&gpiob 1 GPIO_ACTIVE_LOW>; 
            label = "Status LED Pin";
        };
    };


motor_gpio_outputs: motor_gpio_outputs {
    compatible = "gpio-leds";
    status = "okay";

    motor1_step_pin: motor1_step {
         gpios = <&gpioa 10 GPIO_ACTIVE_HIGH>;
        label = "Motor 1 Step Pin";
    };
    
    motor1_dir_pin: motor1_dir {
        gpios = <&gpioa 11 GPIO_ACTIVE_HIGH>;
        label = "Motor 1 Dir Pin";
    };


        motor2_step_pin: motor2_step {
            gpios = <&gpioa 4 GPIO_ACTIVE_HIGH>;  // Changed from PA8 to PC0
            label = "Motor 2 Step Pin";
        };
        
        motor2_dir_pin: motor2_dir {
            gpios = <&gpioc 1 GPIO_ACTIVE_HIGH>;  // Changed from PA9 to PC1
            label = "Motor 2 Dir Pin";
        };

        motor3_step_pin: motor3_step {
            gpios = <&gpiob 6 GPIO_ACTIVE_HIGH>;
            label = "Motor 3 Step Pin";
        };
        
        motor3_dir_pin: motor3_dir {
            gpios = <&gpiob 7 GPIO_ACTIVE_HIGH>;
            label = "Motor 3 Dir Pin";
        };

        motor4_step_pin: motor4_step {
            gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
            label = "Motor 4 Step Pin";
        };
        
        motor4_dir_pin: motor4_dir {
            gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;
            label = "Motor 4 Dir Pin";
        };
    };

    // Inputs go in a gpio-keys node
    gpio_inputs: gpio_inputs {
        compatible = "gpio-keys";
        status = "disabled";
        
        limit_switch_gpio: limit_switch {
            gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;
            label = "Limit Switch Pin";
        };

        start_button_gpio: start_button {
            gpios = <&gpioa 0 GPIO_ACTIVE_LOW>; 
            label = "Start Button Pin";
        };

        gpio_thru_beam: thru_beam {
            gpios = <&gpiob 5 GPIO_ACTIVE_LOW>; 
            label = "Break Beam Pin";
        };

        gpio_tach1: tach_one {
            gpios = <&gpioc 8 GPIO_ACTIVE_LOW>; 
            label = "Tach One Pin";
        };

        gpio_tach2: tach_two {
            gpios = <&gpioc 9 GPIO_ACTIVE_LOW>; 
            label = "Tach Two Pin";
        };
    };


  pwm_node {
        compatible = "pwm-leds";
        status = "disabled";

        // Whatever  connected to PC6************************************************************************************
        // PC6 is TIM3_CH1*, TIM8_CH1
        fan_pwm1: fan_ctrl_pwm1 {
            pwms = <&pwm3 1 PWM_USEC(500) PWM_POLARITY_NORMAL>;
            label = "Fan 1 Control";
            #pwm-cells = <3>;
        };

        // Whatever PWM connected to PC7
        // PC7 is TIM3_CH2*, TIM8_CH2
        fan_pwm2: fan_ctrl_pwm2 {
            pwms = <&pwm3 2 PWM_USEC(500) PWM_POLARITY_NORMAL>;
            label = "Fan 2 Control";
            #pwm-cells = <3>;
        };

        // Whatever PWM connected to PB13
        // PB13 is TIM1_CH1N*
        pwm_door: door_ctrl_pwm {
             pwms = <&pwm1 1 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
             label = "Door servo Control";
             #pwm-cells = <3>;
        };

        // Whatever PWM connected to PB14
        // PB14 is TIM1_CH2N*, TIM8_CH2N, 
        // lets use TIM12_CH1 if N doesnt work out 
        pwm_wick: wick_pwm {
            pwms = <&pwm1 2 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
            label = "Wick servo Control";
            #pwm-cells = <3>;
        };


    };
};

&adc1 {


    st,adc-prescaler = <6>;
    #address-cells = <1>;
    #size-cells = <0>;
    //#io-channel-cells = <1>;
    //st,adc-clock-source = "SYNC";

    vref-mv = <3300>; //subject to change
    //resolutions = <STM32_ADC_RES(12, 0x00) STM32_ADC_RES(10, 0x01)
    //                    STM32_ADC_RES(8, 0x02)  STM32_ADC_RES(6, 0x03)>;

    //sampling-times = <3 15 28 56 84 112 144 480>;
   // st,adc-sequencer = "programmable";            
   // st,adc-oversampler = "none";                    
    //st,adc-internal-regulator = "none";             

    pinctrl-0 = <&adc1_in10_pc0>;
    pinctrl-names = "default";
    status = "disabled";
    
    // adc channel for thermistor -> Whatver ADC connected to PC0 ******************************************
    // ADC123_IN0
    channel@10 {
        reg = <10>;  // ADC channel 10
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };

};



&timers1 {
    status = "disabled";
     st,prescaler = <8399>;  
    // Timer for door servo pwm -> TIM1_CH1N PB13************************how to configure if N******************
    // Timer for wick servo pwm -> TIM1_CH2N PB14************************how to configure if N******************
    // maybe use TIM12_CH1? for PB14
    pwm1: pwm {
        compatible = "st,stm32-pwm"; 
        status = "okay";
        pinctrl-0 = <&tim1_ch1n_pb13 &tim1_ch2n_pb14>;
        pinctrl-names = "default";
        #pwm-cells = <3>;
    };
};

&timers3 {
    status = "disabled";
    st,prescaler = <8399>;  
    // Timer 1 for fan 1 pwm -> TIM3_CH1 PC6
     // Timer 2 for fan 2 pwm -> TIM3_CH2 PC7
    pwm3: pwm3 {
        compatible = "st,stm32-pwm"; 
        status = "okay";
        pinctrl-0 = <&tim3_ch1_pc6 &tim3_ch2_pc7>;
        pinctrl-names = "default";
        #pwm-cells = <3>;
    };
};

&spi2 {
    status = "okay";
    pinctrl-0 = <&spi2_sck_pb10 &spi2_miso_pc2 &spi2_mosi_pc1>;
    pinctrl-names = "default";
    
    // Three CS pins for three drivers
    cs-gpios = <&gpioc 10 GPIO_ACTIVE_LOW>,   // M-CS1 (Driver 1)
               <&gpioc 11 GPIO_ACTIVE_LOW>,   // M-CS2 (Driver 2)
               <&gpioc 12 GPIO_ACTIVE_LOW>,   // M-CS3 (Driver 3)
               <&gpioc 13 GPIO_ACTIVE_LOW>; 
    
    // spi device 1 
    // scent dispensing motor
    drv8434s_1: drv8434s@0 {
        compatible = "spi-device";
        reg = <0>;  // Uses cs-gpios[0]
        spi-max-frequency = <1000000>;
    };
    
    // spi device 2
    // stirring motor
    drv8434s_2: drv8434s@1 {
        compatible = "spi-device";
        reg = <1>;  // Uses cs-gpios[1]
        spi-max-frequency = <1000000>;
    };
    
    // spi device 3
    // wax dispensing motor
    drv8434s_3: drv8434s@2 {
        compatible = "spi-device";
        reg = <2>;  // Uses cs-gpios[2]
        spi-max-frequency = <1000000>;
    };

     // spi device 4
     // lead screw motor
    drv8434s_4: drv8434s@3 {
        compatible = "spi-device";
        reg = <3>;  // Uses cs-gpios[3]
        spi-max-frequency = <1000000>;
    };
};
